# .gitignore

# Editor-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Windows system files
Thumbs.db
Desktop.ini

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Virtual environment
venv/

# Pipenv environment
Pipfile.lock

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
